
body{
  background-image: url(../images/water.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

section {
  width: 500px;
  height: 350px;
  position: relative;
  margin: 4.5em auto;
  border-radius: 2em;
  background-clip: padding-box;
  background-color: #F1F1F1;
  border: 20px solid rgba(0, 0, 0, 0.3);
}

/* FRONT PAGE STYLES */

button {
  width: 37em;
  height: 5em;
  position: absolute;
  bottom: 3em;
  right: 4.0em;
  border-radius: 3px;
  border: none;
  background: #428BCA;
  opacity: .5;
}

.title {
  font-size: 2em;
  padding: .5em;
  width: 80%;
  height: 1em;
  background: #428BCA;
  margin: .4em auto;
  color: #dedede;
}

#penguin {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* QUESTION PAGE STYLES */

#questionArea {
  text-align: left;
  line-height: 1.7em;
  font-size: 1em;
  margin-left: 3.5em;
  margin-top: 1em;
}

#questionText{
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

#questionArea p {
  width: 85%;
  height: 2em;
  padding-left: 15px;
  border-bottom: 1px solid black;
  list-style-type: none;
  display: none;
}

#questionArea p:hover {
  background-color: rgba(0, 98, 182, 0.3);
  font-weight: 700;
  display: none;
  cursor: pointer;
}

#questionArea p:active {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

#drops img {
  position: relative;
  bottom: -.6em; 
  margin-right: .5em;   
  display: inline-block;
}

#quiz-counter {
  position: absolute;
  right: .5em;
  bottom: .5em;
}

/* END PAGE STYLES */
#results {
 display: none;
}

#results {
  line-height: 1.7em;
  font-size: 1em;
}

#results h2 {
  display: inline-block;
  font-size: 1.2em;
  padding-left: 1em;
  margin-right: 4em;
  margin-top: 2em;
  line-height: 0; 
}



#userResults, #answerKey {
  height: 2em;
  
}

#answerKey{
  float: right;
  margin-top: .5em;
  padding-right: 6em;
  text-align: left;
}

#userResults{
  float: left;
   margin-top: .5em;
  padding-left: 6em;
  text-align: left;
}







